{% extends 'base.html' %}
{% load static %}


{% block title %}
    get link
{% endblock %}

{% block attachment_links %}
    <link rel="stylesheet" href="{% static 'get-link/css/style.css' %}">
{% endblock %}

{% block content %}
    <main class="section">
        <section class="container">
            <h1 class="title" style="display: inline-block">Hello Baby :)</h1>
            <a href="{% url 'get_link_page' %}" style="margin-left: 20px">refresh page</a>
            <p class="subtitle">Welcome to short links </p>
            <hr>
            {% if has_errors %}
                <div class="notification is-danger">
                    URL <strong>is not valid</strong>
                </div>
                <p class="is-vertical"></p>

            {% elif has_success %}
                <div class="notification is-success">
                    URL <strong>saved ^-^</strong>
                </div>
                <p class="is-vertical"></p>
            {% endif %}

            <form action="{% url 'get_link_page' %}" method="post" class="">
                <label class="label"> Address:
                    <input class="input" type="text" placeholder="www.fuckgoogle.com" name="url_address">
                </label>
                <input type="submit" value="Submit" class="button is-link is-outlined">
                {% csrf_token %}
            </form>
            <br>
            {% if redirect_link != "" %}
                <p>short link: </p>
                <div class="codes">
                    <div class="tooltip">
                        <span class="tooltip-text" id="myTooltip1">Copy to clipboard</span>
                        <code id="myLink1" onclick="myFunction(1)" onmouseout="outFunc(1)">{{ redirect_link }}</code>
                    </div>
                    <div class="tooltip">
                        <span class="tooltip-text" id="myTooltip2">Copy to clipboard</span>
                        <code id="myLink2" onclick="myFunction(2)"
                              onmouseout="outFunc(2)">{{ redirect_link_10_char }}</code>
                    </div>
                    <div class="tooltip">
                        <span class="tooltip-text" id="myTooltip3">Copy to clipboard</span>
                        <code id="myLink3" onclick="myFunction(3)"
                              onmouseout="outFunc(3)">{{ redirect_link_slug }}</code>
                    </div>
                </div>




                <a href="{{ redirect_link }}" class="button is-dark" target="_blank">test</a>
            {% endif %}
        </section>
    </main>
{% endblock %}

{% block attach_js_files %}
    <script>
        function myFunction(num) {
            let copyText = document.getElementById("myLink" + num);

            navigator.clipboard.writeText(copyText.innerText);

            let tooltip = document.getElementById("myTooltip" + num);

            tooltip.innerHTML = "Copied: <br>" + copyText.innerText;
        }

        function outFunc(num) {
            let tooltip = document.getElementById("myTooltip" + num);
            tooltip.innerHTML = "Copy to clipboard";
        }
    </script>
{% endblock %}